*{
    padding: 0px;
    margin: 0;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-container,
.select-container {
  position: relative;
  margin-top: 15px;
}
.input-container input[type="text"],
.input-container input[type="email"],
.select-container select {
  display: block;
  width: 100%;
  padding: 5px 7px 5px 7px;
  box-sizing: border-box;
  border-radius: 5px;
  border: orange solid 1px;
  font-size: 18px;
  line-height: 22px;
}
.form{

}
.radio-list{

}
.radio-container{
    
}
.form-container{
  width: 400px;
  padding: 10px;
  box-shadow: 0px 0px 25px rgba(0,0,0,.3);
  box-sizing: border-box;
  border-radius: 10px;
  border:brown solid 1px;
}
h2{
    text-align:center ;
    color: rgb(235, 196, 138);
    
}
.input-container label{
    position: absolute;
    top: -15px;
    left: 20px;
    background: #fff;
}
.input-container input:focus{
    color:crimson;
}
.select-container select{
    appearance: none; /*убирает стрелочку в строке выбора*/
    -webkit-appearance: none;/*Тоже самое только через префикс*/
}
.input-container input::placeholder{
    color:orangered;
}
.checkbox-list{
    margin-top: 15px;
}
.checkbox-container input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
}
.checkbox-container label{
    position: relative;
    padding-left: 30px;
    font-style: 18px;
}
.checkbox-container label::after,
.checkbox-container label::before{
    content:'';
    position: absolute;
    display: block;
    background-repeat: 5px;
}
.checkbox-container label::after{
    width: 22px;
    height: 22px;
    background: orchid;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.checkbox-container label::before{
    width: 20px;
    height: 20px;
    left: 1px;
    top: 1px;
    background: aqua;
    z-index: 2;
    opacity: 0;/*задает видимость элемента*/
    transition:  all 0.3s;
}
.checkbox-container input[type="checkbox"]:checked + label::before{
    opacity: 1;
    transition: all 0.3s;
}
