*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Lora', serif;
    font-weight: 400;
}
.font-roboto, .font-roboto a{
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
header{
    height: 80px;
    width: 100%;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}
.banner img{
width: 100%;
height: 600px;
object-fit: cover;
}
.header-flex{
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-nav ul{
    display: flex;
    align-items:center;  
}
.header-nav ul li a{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    transition: all .3s;
    }
.header-nav ul li a:hover{
    color:#fff;
    transition: all .3s;
}
.header-nav ul li{
        margin-right: 25px;
    }
.header-nav ul li:last-child{
    margin-right: 0PX;   
}
.header-social ul, .header-flex-2{
    display: flex;
}
.header-social ul li{
    margin-right: 18px;
}
.header-social ul li:last-child{
    margin-right: 0px;
}
.header-social{
    margin: 0px 17px;
    border-left: 0.5px solid #e5e5e5;
    border-right: 0.5px solid #e5e5e5;
    padding: 0px 17px;
}
.banner{
    position: relative;
}
.banner-info{
    position: absolute;
    width: 530px;
    left: 70px;
    bottom: 140px;
    color: #ffffff;
}
.tag{
    background: rgba(255,255,255,0.15);
    border-radius: 8px;
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;    
}
.middle-line{
    height: 1px;
    min-width: 30px;
    background: #e5e5e5;
    margin: 9px 11px;
}
.text-flex{
    display: flex;
}
.zagl{
    margin: 20px 0px 15px 0px ;
}
.h2-title{
    color: #495057;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
}
.container{
    width: 1300px;
    margin: 150px auto;
}
.filter-list{
    margin: 30px 0px;
    display: flex;

}
.filter-list li:last-child{
    margin-left: auto;
    margin-right: 0px;
}
.filter-list li{
    margin-right: 20px;
}
.filter-list li a{
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: #495057;
    transition: all .3;
}
.filter-list li a:hover{
    color: #d4a373;
    transition: all .3;
}
.topic-img{
    width: 100%;
    height: 280px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;/*приблежает картинку*/
}
.topic-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover; /*заполнение пространства картинкой*/
}
.topic{
    width: 310px;
    position: relative;
    color: #6c757d;
    cursor: pointer;
}
.topic:hover .topic-img img{
    transform: scale(1.4);
    transition: all .3s;
}
.topic-list{
    display: flex;
    flex-wrap: wrap;/*перенос*/
    gap: 50px 20px;/*отступы в сетке*/
}
.topic-date{
    font-size: 12px;
    margin-top: 15px;
    line-height: 15px;
}
.topic-title{
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
}
.topic-text{
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
}
.tag-list{
    position: absolute;
    top: 20px;
    right:20px;
    display: flex;
    z-index: 1;
}
.tag-list li{
    margin-right: 10px;
}
.tag-list li:last-child{
    margin-right: 0px;
}
.big-post{
    position: absolute;
    text-align: center;
    width: 530px;
    height: 245px;
    top: 224px;
    left: calc(50% - 530px / 2);;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
}
.middle-line1{
    height: 1px;
    width: 30px;
    background: #e5e5e5;
    margin: 15px 250px;
}
.big-post-text{
    width: 420px;
    margin:13px auto 24px auto;
}
.big-post h2{
    margin-top: 24px;
    color: #fff;
    font-size: 36px;
    line-height: 46px;
}
.big-post-date{
    margin-top: 15px;
}
.post-list{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
}
.post{
    position: relative;
    width: 420px;
    height: 350px;
}
.post img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}
.post .topic{
    color: #e5e5e5;
    position: absolute;
    z-index: 1;
    bottom: 42px;
    left:40px ;
    right: 40px; ;
    width: auto;
}
.post .topic .topic-title{
    color: #fff;
}
.footer-container .header-social{
    border: none;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.footer-container h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
.footer-ul{
    display: flex;
    flex-direction: column;
    gap: 18px 0px;
}
footer{
    width: 100%;
    background: #212529;
    padding: 106px 0px 0px 0px;
    box-sizing: border-box;
}
.footer-container ul li a{
    color: #e5e5e5;
    font-size: 12px;
    line-height: 15px;
}
.footer-container p{
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
.subscribe{
background: #343A40;
padding: 31px 0px;
margin-top: 106px;
width: 100%;
}
.subscribe-flex{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}