*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
.banner-container{
    width: 100%;
    overflow: hidden;
    height: 800px;
    position: relative;
}
.banner-img,
.banner-img-list{
    width: 100%;
    height: 100%;
}
.banner-img img{
    width: 100%;
    height: 100%;
    max-height: 100%;
     object-fit: cover;
}
.banner-img{
    display: none;
}
.banner-nav-list{
    position: absolute;
    right: -15%;
    top: 0px;
    height: 100%;
    width: 20%;
    transition:all 1s;
    background: rgba(0, 0, 0, 0.4);
}
.banner-nav-list:hover{
    transition:all 1s;
    right: 0px;
}
.banner-nav-list ul{
    list-style: none;
}
.banner-nav-list li{
    height: 150px;
}
.banner-nav-list li label{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: blanchedalmond;
    transition: all .3s ease-in-out;
}
.banner-nav-list li label:hover{
    background: brown;
    transition: all .3s ease-in-out;
}
#radio1:checked ~ .banner-img-list .banner1,
#radio2:checked ~ .banner-img-list .banner2,
#radio3:checked ~ .banner-img-list .banner3,
#radio4:checked ~ .banner-img-list .banner4{
    display: block !important;/* important - приоритет*/
}
